@tailwind base;
@tailwind components;
@tailwind utilities;


.waveform ::part(region-content) {
  margin-top: 0px;
  transform: rotate(-90deg);
  background: #6C757D;
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 2px;
  display: flex !important;
  justify-content: center;
  padding: 1px 2px !important;
  width: 20px;
  height: fit-content;
}

.waveform ::part(region-handle) {
  border: none;
}

.waveform ::part(f-content) ::part(region-content) {
  background: red !important;
  padding: 80px !important;
}

.custom-table-height {
  height: calc(80vh - -30px);
}